unset imap_user imap_pass smtp_pass
unset imap_authenticators smtp_authenticators
unset imap_oauth_refresh_command smtp_oauth_refresh_command

#source "gpg2 --no-tty -qd ~/.mutt/gmail/gmail.gpg |"
source "age -d -i ~/.config/age/private.key ~/.mutt/gmail/gmail.age | xz -cd |"
macro index S "<save-message>+[Gmail]/Spam<enter>"   "mark message as spam"
set record="+[Gmail]/Sent Mail"
set spoolfile="+INBOX"
set postponed="+[Gmail]/Drafts"
set realname="Aaron Toponce"
set signature="~/src/dotfiles/.mutt/gmail/signature.txt"
source ~/.mutt/gmail/gmail_lists
# vim: set ft=muttrc:
