unset imap_user imap_pass
source "gpg2 --no-tty -qd ~/.mutt/gmail/gmail.gpg |"
macro index S "<save-message>+[Gmail]/Spam<enter>"   "mark message as spam"
set record="+[Gmail]/Sent Mail"
set spoolfile="+INBOX"
set postponed="+[Gmail]/Drafts"
set realname="Aaron Toponce"
set signature="~/.mutt/gmail/signature.txt"
source ~/.mutt/gmail/gmail_lists
# vim: set ft=muttrc:
