bind editor <Tab> complete-query
bind editor ^T complete
unset imap_user imap_pass
macro index S "<save-message>+[Gmail]/Spam<enter>"   "mark message as spam"
set record="+[Gmail]/Sent Mail"				# Save sent mail to Sent Mail on Gmail
set spoolfile="+INBOX"					# Default inbox
set postponed="+[Gmail]/Drafts"				# Save 'postponed' mail to Drafts
set realname="Aaron Toponce"				# Your real name
set signature="~/glider.txt"
source ~/.mutt/gmail/gmail_lists
source "gpg2 --no-tty -qd ~/.mutt/gmail/gmail.gpg |"
# vim: set ft=muttrc:
